<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 4px;
    }

    table thead tr {
        color: #ffffff;
        font-weight: bold;
    }

    table thead tr td {
        border-radius: 4px 4px 0 0;
        background: #2e82c3;
    }

    table tbody tr td {
        border: 1px solid #2e82c3;
        border-radius: 4px;
        background: #cbdfef;
    }

    table tbody tr td:hover {
        background: #a2c3dd;
        transition-duration: 0.2s;
    }

    .header {
        text-align: center;
    }

</style>
<body>
<div class="header">
    <h2>Повашому запросу корм мають:</h2>
</div>
<br>
<table>
    <tr>
        <th>№</th>
        <th>Користувач</th>
        <th>Контакти</th>
        <th>Продукція</th>
    </tr>
    {% for row in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row.userName }}</td>
            <td>{{ row.contacts }}</td>
            <td>{{ row.food }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<div class="footer">
    <h3>Дякуємо що скористувались нашим ботом</h3>
    <h2>Слава Україні!</h2>
</div>
<br>
</body>
</html>